<div class="sala">
  <div class="porta-1 d-flex">
    <button *ngIf="hasSaidaSul" (click)="portaEscolhida.emit('S')">Sul</button>
  </div>

  <div class="porta-2 d-flex">
    <button *ngIf="hasSaidaLeste" (click)="portaEscolhida.emit('L')">Leste</button>
  </div>
  <div class="porta-3 d-flex">
    <button *ngIf="hasSaidaOeste" (click)="portaEscolhida.emit('O')">Oeste</button>
  </div>
  <div class="porta-4 d-flex">
    <button (click)="portaEscolhida.emit('N')">voltar</button>
  </div>

  <div class="rosa-dos-ventos d-flex">
    <img src="../../../assets/img/rosa-dos-ventos/sul.png" />
  </div>
</div>
