<div class="game w-100">
  <div class="d-flex align-items-center justify-content-around p-30">
    <ng-container [ngSwitch]="salaAtual?.visaoAtual">
      <app-visao-norte
        [salaAtual]="salaAtual"
        *ngSwitchDefault
        (portaEscolhida)="irParaProximaPorta($event)"
      ></app-visao-norte>

      <app-visao-leste
        [salaAtual]="salaAtual"
        *ngSwitchCase="'L'"
        (portaEscolhida)="irParaProximaPorta($event)"
      ></app-visao-leste>

      <app-visao-oeste
        [salaAtual]="salaAtual"
        *ngSwitchCase="'O'"
        (portaEscolhida)="irParaProximaPorta($event)"
      ></app-visao-oeste>

      <app-visao-sul
        [salaAtual]="salaAtual"
        *ngSwitchCase="'S'"
        (portaEscolhida)="irParaProximaPorta($event)"
      ></app-visao-sul>
    </ng-container>

    <div class="chat">
      <p>
        <strong>>> Você está na {{ salaAtual?.nome }}</strong>
      </p>
      <p>Início de sua jornada;</p>
      <p>
        Chegamos a sala 4, você pode sentir o cheiro do minotauro e precisa
        correr, uma decisão precisa ser tomada, e você tem
        {{ salaAtual?.saidas?.length }} portas disponíveis. <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
        </svg>
      </p>
    </div>
  </div>
</div>
