<header>
  <a href="/"><h3>Hackathon Minotauro</h3></a>
</header>

<div class="game w-100 h-100">
  <div class="d-flex align-items-center justify-content-around p-30">
    <ng-container [ngSwitch]="salaAtual.visaoAtual">
      <app-visao-norte
        [salaAtual]="salaAtual"
        *ngSwitchDefault
      ></app-visao-norte>

      <app-visao-leste
        [salaAtual]="salaAtual"
        *ngSwitchCase="'L'"
      ></app-visao-leste>

      <app-visao-oeste
        [salaAtual]="salaAtual"
        *ngSwitchCase="'O'"
      ></app-visao-oeste>

      <app-visao-sul
        [salaAtual]="salaAtual"
        *ngSwitchCase="'S'"
      ></app-visao-sul>
    </ng-container>

    <div class="chat">
      <p><strong>>>Você está na sala 1</strong></p>
      <p>>> escolha uma das portas disponíves</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<footer>
  <div class="row">
    <div class="col-12">
      <p>:D</p>
    </div>
  </div>
</footer>
