<header>
  <a href="/"><h3>Hackathon Minotauro</h3></a>
</header>

<div class="game w-100 h-100">
  <div class="d-flex align-items-center justify-content-around p-30">
    <div class="sala">
      <div class="porta-1 d-flex">
        <button>N</button>
      </div>

      <div class="porta-2 d-flex">
        <button>O</button>
      </div>
      <div class="porta-3 d-flex">
        <button class="">L</button>
      </div>
      <div class="porta-4 d-flex">
        <button>voltar</button>
      </div>
    </div>
    <div class="chat">
      <p><strong> Você está na sala 1</strong></p>
      <p>>> escolha uma das portas disponíves</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="row">
    <div class="col-12">
      <p>:D</p>
    </div>
  </div>
</footer>
