<header>
  <img src="../../../assets/img/maze.png" />
  <a href="/"><h3>Hackathon Minotauro</h3></a>
</header>

<!-- <div class="backDoor">
  <div class="door"></div>
</div> -->

<div *ngIf="!tamanho" class="d-flex justify-content-center">
  <ul class="list-group">
    <li class="list-group-item" (click)="tamanho = 3">Fácil</li>

    <li class="list-group-item" (click)="tamanho = 4">Médio</li>

    <li class="list-group-item" (click)="tamanho = 5">Difícil</li>
  </ul>
</div>

<ng-container *ngIf="tamanho">
  <app-board [tamanho]="tamanho"></app-board>
</ng-container>

<footer>
  <div class="row">
    <div class="col-12">
      <p>:D</p>
    </div>
  </div>
</footer>
