<div class="sala">
  <div class="porta-1 d-flex">
    <button *ngIf="hasSaidaLeste" (click)="portaEscolhida.emit('L')">
      Leste
    </button>
  </div>
  <div class="porta-2 d-flex">
    <button *ngIf="hasSaidaNorte" (click)="portaEscolhida.emit('N')">
      Norte
    </button>
  </div>
  <div class="porta-3 d-flex">
    <button *ngIf="hasSaidaSul" (click)="portaEscolhida.emit('S')">Sul</button>
  </div>

  <div class="porta-4 d-flex">
    <button (click)="portaEscolhida.emit('O')">voltar</button>
  </div>

  <div class="rosa-dos-ventos d-flex">
    <img src="../../../assets/img/rosa-dos-ventos/leste.png" />
  </div>
</div>

<ng-template>
  <div class="backDoor">
    <div class="door"></div>
  </div>
</ng-template>
