body {
  height: 100vh;
  position: relative;
  font-size: 14px !important;
  color: #495057 !important;
  background-color: #fafafa !important;
}

label,
span {
  font-size: 12px;
}

h2,
h3,
h4 {
  color: #495057;
}
.helpers {
  &-centered {
    margin: 0 auto;
    display: block;
  }
  &-color-default {
    color: #495057;
  }
  &-size {
    &-14 {
      font-size: 14px;
    }
    &-16 {
      font-size: 16px;
    }
  }
  &-padding-tb {
    padding: 2rem 15px;
  }
  &-bg-white {
    background-color: white;
  }
}

.no-padding {
  padding: 0;
}

.sair {
  margin: 15px;
  display: flex;
  justify-content: flex-end;
  > button {
    height: 30px;
    padding: 0 10px;
  }
}

.game {
  height: calc(100vh - 94px);
  padding: 50px;

  .sala {
    box-sizing: content-box;
    border: 1px solid red;
    height: 650px;
    width: 650px;

    display: grid;
    grid-template-rows: repeat(3, 216px);
    grid-template-columns: repeat(3, 216px);

    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #836fff, #007ad929);
    .mapa {
      padding: 30px;
      border: 1px dashed gray;
      &.chegada {
        background-color: aquamarine;
      }
    }
    &.size-4 {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: repeat(4, auto);

      .mapa {
        padding: 5px;
      }
    }

    &.size-5 {
      grid-template-rows: repeat(5, auto);
      grid-template-columns: repeat(5, auto);
      .mapa {
        padding: 5px;
      }
    }

    .porta {
      &-1 {
        grid-column: 1 / span 3;
        justify-content: center;
        > a {
          height: 30px;
          svg {
            width: 165px;
            height: 95px;
          }
        }
      }
      &-2 {
        grid-column: 1 / span 1;
        align-items: center;
        > a {
          height: 30px;
          svg {
            width: 165px;
            height: 95px;
          }
        }
      }
      &-3 {
        grid-column: 3 / span 1;
        align-items: center;
        justify-content: flex-end;
        > a {
          height: 30px;
          svg {
            width: 165px;
            height: 95px;
          }
        }
      }
      &-4 {
        grid-column: 2 / span 1;
        justify-content: center;
        align-items: center;
        > a {
          height: 30px;
          svg {
            width: 165px;
            height: 95px;
          }
        }
      }
    }
  }

  .chat {
    border: 1px solid red;
    height: 650px;
    width: 650px;
    padding: 30px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
      monospace;

    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #836fff, #007ad929);
    overflow: auto;
  }
}

.rosa-dos-ventos {
  grid-column: 3 / span 1;
  justify-content: center;
  align-items: center;

  > a {
    cursor: pointer;
    > img {
      width: auto;
      height: 135px;
    }
  }
}

.backDoor {
  background-color: #333;
  position: relative;
  width: 100px;
  height: 150px;

  margin: 0 auto;
  margin-top: 50px;
}

.door {
  background-color: brown;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 150px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}


.list-group-item {
  &:hover {
    color: #836fff;
  }
}

.texto-roxo{
  color: #836fff;
}
