body {
  height: 100vh;
  position: relative;
  font-size: 14px !important;
  color: #495057 !important;
  background-color: #fafafa !important;
}

label,
span {
  font-size: 12px;
}

h2,
h3,
h4 {
  color: #495057;
}
.helpers {
  &-centered {
    margin: 0 auto;
    display: block;
  }
  &-color-default {
    color: #495057;
  }
  &-size {
    &-14 {
      font-size: 14px;
    }
    &-16 {
      font-size: 16px;
    }
  }
  &-padding-tb {
    padding: 2rem 15px;
  }
  &-bg-white {
    background-color: white;
  }
}

.no-padding {
  padding: 0;
}

.game {
  height: calc(100vh - 94px);
  padding: 50px;

  .sala {
    box-sizing: content-box;
    border: 1px solid red;
    height: 650px;
    width: 650px;

    display: grid;
    grid-template-rows: repeat(3, 216px);
    grid-template-columns: repeat(3, 216px);


      border: 10px solid;
      border-image-slice: 1;
      border-width: 5px;
      border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

    .porta {
      &-1 {
        grid-column: 1 / span 3;
        justify-content: center;
        > button {
          height: 30px;
        }
      }
      &-2 {
        grid-column: 1 / span 1;
        align-items: center;
        > button {
          height: 30px;
        }
      }
      &-3 {
        grid-column: 3 / span 1;
        align-items: center;
        justify-content: flex-end;
        > button {
          height: 30px;
        }
      }
      &-4 {
        grid-column: 2 / span 1;
        justify-content: center;
        align-items: flex-end;
        > button {
          height: 30px;
        }
      }
    }

    .rosa-dos-ventos {
      grid-column: 3 / span 1;
      justify-content: center;
      align-items: center;

      > img {
        width: auto;
        height: 135px;
      }
    }
  }

  .chat {
    border: 1px solid red;
    height: 650px;
    width: 650px;
    padding: 30px;
  }
}
